@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

:root {
    --secColor: #d49e09;
    --priColor: #026432;
}

nav .navbar-collapse {
    background: transparent !important;
}

nav .navbar-collapse .nav-item {
    color: #646464 !important;
    margin-right: 40px;
}

nav .navbar-collapse .nav-link {
    color: #646464 !important;
    border-bottom: 1px solid var(--secColor);
    margin-right: 20px;
}

.bg-theme {
    background: var(--priColor) !important;
}

.bg-theme-2 {
    background: var(--secColor) !important;
    color: white !important;
}

.text-theme {
    color: var(--priColor) !important;
}

.text-theme-2 {
    color: var(--secColor) !important;
}

img.fill-image {
    object-fit: cover !important;
    /* width: auto !important; */
    height: auto !important;
}

.circle-icon {
    border: 2px solid;
    border-radius: 50%;
    padding: 10px;
}


.service-11 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}


.service-11 .wrap-service11-box {
    margin-top: 60px;
}

.service-11 .wrap-service11-box .icon-space {
    margin: -70px 0 20px;
}

.service-11 .wrap-service11-box .icon-space .icon-round {
    font-size: 45px;
    color: #ffffff;
}

.service-11 .icon-round {
    width: 80px;
    line-height: 80px;
}

.service-11 {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
}

.color-1 {
    background-color: #E5E2E7;
}






/********************* Shopping Demo-5 **********************/
.product-image5 .pic-1,
.product-image5 .pic-2 {
    backface-visibility: hidden;
    transition: all .5s ease 0s
}

.product-grid5 {
    font-family: Poppins, sans-serif;
    position: relative
}

.product-grid5 .product-image5 {
    overflow: hidden;
    position: relative
}

.product-grid5 .product-image5 a {
    display: block
}

.product-grid5 .product-image5 img {
    width: 100%;
    height: auto
}

.product-image5 .pic-1 {
    opacity: 1
}

.product-grid5:hover .product-image5 .pic-1 {
    opacity: 0
}

.product-image5 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0
}

.product-grid5:hover .product-image5 .pic-2 {
    opacity: 1
}

.product-grid5 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px
}

.product-grid5 .social li {
    display: block;
    margin: 0 0 10px;
    transition: all .5s
}

.product-grid5 .social li:nth-child(2) {
    opacity: 0;
    transform: translateY(-50px)
}

.product-grid5:hover .social li:nth-child(2) {
    opacity: 1;
    transform: translateY(0)
}

.product-grid5 .social li:nth-child(3) {
    opacity: 0;
    transform: translateY(-50px)
}

.product-grid5:hover .social li:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .2s
}

.product-grid5 .social li a {
    color: #888;
    background: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: block;
    transition: .5s ease 0s
}

.product-grid5 .social li a:hover {
    color: #fff;
    background: var(--priColor)
}

.product-grid5 .select-options {
    color: var(--priColor);
    background-color: var(--secColor);
    font-size: 13px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 5px;
    margin: 0 auto;
    opacity: 0;
    display: block;
    position: absolute;
    width: 92%;
    left: 0;
    bottom: -100px;
    right: 0;
    transition: .5s ease 0s, ;
    text-decoration: none
}

.product-grid5 .select-options:hover {
    color: #fff;
    background-color: var(--priColor);
}

.product-grid5:hover .select-options {
    opacity: 1;
    bottom: 10px
}

.product-grid5 .product-content {
    padding: 20px 10px
}

.product-grid5 .title {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.product-grid5 .title a {
    color: #222
}

.product-grid5 .title a:hover {
    color: var(--secColor)
}

.product-grid5 .price {
    color: #222;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px
}

@media only screen and (max-width:990px) {
    .product-grid5 {
        margin-bottom: 30px
    }

    img.fill-image {
        object-fit: cover !important;
    }

    .moon {
        /* z-index: 1; */
        position: absolute;
        background-color: #326164;
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
        width: 100%;
        height: 95vh;
    }

}


.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}


.amb.card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
}

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.product-title,
.price,
.sizes,
.colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.checked,
.price span {
    color: var(--secColor);
}

.product-title,
.rating,
.product-description,
.price,
.vote,
.sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    margin-left: 40px;
}


.add-to-cart,
.like {
    background: var(--priColor);
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.add-to-cart:hover,
.like:hover {
    background: var(--secColor);
    color: #fff;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
}

.orange {
    background: #ff9f1a;
}

.tooltip-inner {
    padding: 1.3em;
}


.form-control:focus,
.form-select:focus {
    border-color: var(--secColor);
    box-shadow: 0 0 0 0.2rem #32616454
}
